@model List<Cliente>
    <div class="container">
       
    <table class="table" style="align-items: center; text-align:center; background-color: #1b6ec2; border-radius: 5px;">
        <h1 style="text-align: center;">Lista de Clientes</h1>
        <thead class="thead-dark">
            <tr >
                <th>Id</th>
                <th>Nome</th>
                <th>Login</th>
                <th>Senha</th>
                <th>Data Nacimento</th>
                <th>Operadores</th>
            </tr>
        </thead>
        <tbody class="text-white">
            @foreach (Cliente item in Model)
            {
            <tr>
                <td>@item.id</td>
                <td>@item.nome</td>
                <td>@item.login]</td>
                <td>@item.senha</td>
                <td>@item.dataNascimento</td>
                <td >
                    <a href="/Clientes/Deletar?id=@item.id" style="color: white; text-decoration: none;">Deletar</a>
                    <a href="/Clientes/Atualizar?id=@item.id" style="color: white; text-decoration: none;">Editar</a>
                </td>
            </tr>    
            }
            
        </tbody>
    </table>
    </div>